
.bg-img{
  min-height: 100vh;
 width: 100%;
 background: url("C:\Users\SURYA BHAGAVAN\Desktop\sastra\frontend\src\assets\image\university.jpeg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 } 
#nav{
  background-color: black;
  border:2px solid black;
  color:white;
}
li{
  color: white;
}
#submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit:hover {
  background-color: #45a049;
}

div.container {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto; 
  width:400px; 
  height:450px;
  padding: 20px;
  background:black;
  border:2px solid #333;
  color: white;
  
}
.success{
  margin-left: auto;
  background-color: black;
  color: white;
  padding: 2%;
}

.false{
  margin-left: auto;
  background-color: black;
  color: white;
  padding: 2%;
}
#abc
{
  
  margin-left: 28%;
  margin-right: auto;
  margin-top: 15px;
  padding:20px;
  font-size: large;
  height:100px;

}

.btn {
  background-color: red; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: blue;
}
a:hover{
  background-color: black;
}
a:link{color:white;}

