<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="../">University Admission System</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/viewa">View Applicant</a></li>
        <li  class="active"><a routerLink="/viewc">View Course</a></li>
        <li><a routerLink="/views">View Schedule</a></li>
        <li><a routerLink="/addc">AddCourse</a></li>
        <li><a routerLink="/adds">Add Schedule</a></li>
      </ul>
      <ul class="nav navbar-nav" style="float: right;">
        <li><button class="btn" (click)="logout()"><i class="fa fa-sign-out"></i></button></li>            
        
      </ul>
     
    </div>
</nav>-->

<body>
  <div class="bg-img">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="nav">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="../">Welcome {{service.userName}}</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/viewa">View Applicant</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/viewc">View Course</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/views">View Schedule</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/addc">Add Course</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/adds">Add Schedule</a></li>
    </ul>
    <ul class="navbar-nav ml-auto" style="float: right;">
      <li class="nav-item"><a class="nav-link" routerLink="/create"><i class="fa fa-user-plus fa-2x" aria-hidden="true">MAC</i></a></li>
      <li class="nav-item"><button class="btn" (click)="logout()"><i class="fa fa-sign-out">Sign Out</i></button></li>
    </ul>
  </nav>
  <div class="container">
    <h1>List of courses</h1>
    <table class="table table-sm table-dark" id="course">
      <tr>
        <td>ID</td>
        <td>Program Name</td>
        <td>Description</td>
        <td>Applicant Eligibility</td>
        <td>Duration(in years)</td>
        <td>Degree Offered</td>
        <td>Remove</td>
        <td>Info</td>
      </tr>
      <tr *ngFor="let c of courses, let i=index">
        <td>{{c.courseId}}</td>
        <td>{{c.programName}}</td>
        <td>{{c.description}}</td>
        <td>{{c.applicantEligibility}}</td>
        <td>{{c.duration}}</td>
        <td>{{c.degreeCertificateOffered}}</td>
        <td><button class="btn" id="remove" (click)="onRemove(c.courseId,c.programName)" value="Remove">Remove</button>
        </td>
        <td><button class="btn" id="info" (click)="getInfo(c.courseId,c.programName)" value="info">Course Info</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="showInfo" id="block">
    <ul>
      <h1 style="text-align: center;color: blue;margin-top: 1px;">{{programName}}</h1>
      <li>Total Number of Registered Applicant : <b>{{total}}</b></li>
      <li>Total Number of selected Applicant : <b>{{accept}}</b></li>
      <li>Total Number of rejected Applicant : <b>{{reject}}</b></li>
      <li>Total Number of Waiting Applicant : <b>{{wait}}</b></li>
    </ul>
  </div>

  <div id="abc" *ngIf="showFail" class="success2">
    <span>{{message}}</span>
  </div>

  <div id="abc" *ngIf="showSuccess" class="success3">
    <span>{{message}}</span>
  </div>
</div>
</body>
